<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <!-- Github Octicons -->
    <link rel="stylesheet" href="{{ "/css/octicons/octicons.css" | prepend: site.baseurl}}">
    <script src=" {{"/javascript/jquery-1.11.0.min.js" | prepend: site.baseurl }}"></script>

    <style>
    .image {
         position: relative;
         width: 100%; /* for IE 6 */
           }

    .image span {
      position: absolute;
      background-color: black;
      height:auto;
      width:auto;
      top: 0;
      left: 0;
      float:left;
      clear: both;
      display: inline-block;
    }

    .image span .text a{
      background-image: url("about:blank") 0 0 repeat;
    }


    </style>

</head>
