---
layout: post
title: ODF Matching through the use of Matlab's FMINCON
author: Noah Paulson, Yuksel Yabansu

latex: true
autonumber: true

hexagonal_stiffness_plot:
  type: img
  src: https://farm8.staticflickr.com/7529/15815130592_a0118f49a6_o.png
unique_elastic_stiffness_orientations:
  type: img
  src: https://farm9.staticflickr.com/8539/15628164178_83e6c3dd90_o.png
---

## Introduction


* Orientations selected from Hexagonal-Triclinic fundamental zone ($ 0 \leq \phi_1 \leq 2\pi, 0 \leq \Phi < \frac{\pi}{2}, 0 \leq \phi_2 \leq \frac{\pi}{3}
$)


{% include ContentManager.html content=page.hexagonal_stiffness_plot %}

{% include ContentManager.html content=page.unique_elastic_stiffness_orientations %}


## References

X. Wu, G. Proust, M. Knezevic, S.R. Kalidindi **Elastic-plastic property closures for hexagonal close-packed polycrystalline metals using first-order bounding theories** Acta Mater, 55(2007) Volume 55, p. 2729 
