---
layout: post
title: Finding Orientations in the Hexagonal-Triclinic Fundamental Zone with Unique Elastic Stiffness Tensors
author: Noah Paulson, Yuksel Yabansu

latex: true

hexagonal_stiffness_plot:
  type: img
  src: https://farm8.staticflickr.com/7529/15815130592_a0118f49a6_o.png
unique_elastic_stiffness_orientations:
  type: img
  src: https://farm9.staticflickr.com/8539/15628164178_83e6c3dd90_o.png
---

## Introduction

The elastic stiffness tensor for different orientations from the Hexagonal-Triclinic fundamental zone may be identical. This non-uniqueness may be a result of both the definition of Bunge Euler angles and the elastic properties of crystals with Hexagonal symmetry. In this post we find which orientations have the same elastic stiffness tensors so that we may more efficiently select orientations for calibration in the Materials Knowledge System. 

## Procedure

Orientations were selected from Hexagonal-Triclinic fundamental zone ($ 0 \leq \phi_1 \leq 2\pi, 0 \leq \Phi < \frac{\pi}{2}, 0 \leq \phi_2 \leq \frac{\pi}{3}
$)


## Results

The following two images show which orientations in the Hexagonal-Triclinic fundamental zone have identical elastic stiffness tensors.

_in the following image orientations with the same elastic stiffness tensors are shown with the same marker color_

{% include ContentManager.html content=page.hexagonal_stiffness_plot %}


_the following image shows a selection of unique orientations in the Hexagonal-Triclinic fundamental zone_

{% include ContentManager.html content=page.unique_elastic_stiffness_orientations %}

The following observations are made from the preceding images:

1. The stiffness tensor is independent of the $\phi_2$ angle
2. The stiffness tensors are identical for all orientations on the $\Phi = 0$ face
3. The stiffness tensors are identical when $\phi_1 = 0$ degrees and $\phi_1 = 360$ degrees if the $\Phi$ angles are the same.

## References

X. Wu, G. Proust, M. Knezevic, S.R. Kalidindi **Elastic-plastic property closures for hexagonal close-packed polycrystalline metals using first-order bounding theories** Acta Mater, 55(2007) Volume 55, p. 2729 
