---
layout: post
title: Periodic Boundary Conditions for X, Y and Z Loading
author: Noah Paulson, Matthew Priddy

xboundary_periodic:
  type: img
  src: https://farm6.staticflickr.com/5601/15429834547_1e0d5cfeec_o.png
yboundary_periodic:
  type: img
  src: https://farm4.staticflickr.com/3939/14995082514_3d97e73f8d_o.png
zboundary_periodic:
  type: img
  src: https://farm4.staticflickr.com/3936/15429718278_6e2707722d_o.png
---

## Introduction

In the next step of the FIP estimation effort we would like to show the differences in FIPs given loading in varying directions. This requires the development of periodic boundary conditions for loading in the positive Y and Z directions. The following diagrams schematically show these boundary conditions.

### Periodic Boundary Conditions for +X Loading

{% include ContentManager.html content=page.xboundary_periodic %}

### Periodic Boundary Conditions for +Y Loading

{% include ContentManager.html content=page.yboundary_periodic %}

### Periodic Boundary Conditions for +Z Loading

{% include ContentManager.html content=page.zboundary_periodic %}

