---
layout: post
title: "Tuning FEM Simulation Parameters for MKS Applicability"

bc_compare:
  type: img
  src: "https://farm6.staticflickr.com/5583/14992015487_ced05b41bb_o.png"
  
field_compare_MINED_GOALI_C3D8vsC3D8R:
  type: img
  src: "https://farm4.staticflickr.com/3887/15150375445_f9fb161c75_o.png"
  
field_compare_MINED_GOALI_C3D8R:
  type: img
  src: "https://farm6.staticflickr.com/5555/14963703790_6308d0652d_o.png"

hist_compare_fftn_MINED_GOALI_C3D8vsC3D8R:
  type: img
  src: "https://farm4.staticflickr.com/3858/15127352676_601e9a6ea7_o.png"
  
hist_compare_fftn_MINED_GOALI_C3D8R:
  type: img
  src: "https://farm6.staticflickr.com/5584/15150376185_cdee46a7bc_o.png"

  
---

### Comparison of boundary and loading conditions

In order to make sure the boundary conditions and node-set definitions between MINED group and GOALI simulations were comparable, linear elastic (LE) finite element method (FEM) simulations were performed.

* everything held constant bewtween simulations except for the BCs and node-set definitions

* the MINED simulation framework was used as a baseline

_The image below shows the comparison between a slice in the strain fields for the MINED and GOALI simulations_
{% include ContentManager.html content=page.bc_compare %}

The results of these simulations are **identical**, so the BCs and node-set definitions are completely equivalent.


### Comparison of other simulation parameters

As a final check, simulations were performed to compare the MINED and GOALI results using their respective frameworks. 

*Mean E11 strain differed by 0.00028%

*Standard deviation in E11 strain differed by 56%

This difference was traced to the use of C3D8R elements in the GOALI simulations as compared to the C3D8 elements for MINED

_Comparison of strain fields between MINED and GOALI results with different element types_
{% include ContentManager.html content=page.field_compare_MINED_GOALI_C3D8vsC3D8R %}

When the element type in the MINED simulations was changed to C3D8R the simulation results were nearly identical (MASE: 0.049%, maximum error: 0.245%)

_Comparison of strain fields between MINED and GOALI results with same element type (C3D8R)_ 
{% include ContentManager.html content=page.field_compare_MINED_GOALI_C3D8R %}

Finally, analyses were performed to compare the FFT-space, strain frequency responses between the GOALI and MINED simulations. These frequency responses are an indication of the periodicity of the responses and the level of noise.

{% include ContentManager.html content=page.hist_compare_fftn_MINED_GOALI_C3D8vsC3D8R %}

{% include ContentManager.html content=page.hist_compare_fftn_MINED_GOALI_C3D8R %}

Future simulations will be performed with the C3D8 element type in order to ensure periodicity of the strain response-fields in the MKS.

