---
layout: post
title: "CPFEM simulations of nanoindentation - ongoing research"
latex: true

plot1:
  type: img
  src:  "https://farm6.staticflickr.com/5614/15611374615_ed25db4011.jpg"
plot2:
  type: img
  src:  "https://farm4.staticflickr.com/3936/15425255398_6465d57be7.jpg"
plot3:
  type: img
  src:  "https://farm4.staticflickr.com/3938/15587701466_3151a9a4dd.jpg" 


---

## Background

One of the major purposes of performing spherical nanoindentation experiments is for the further refinement of the CPFEM parameters.  In the past, these parameters have been calibrated to polycrystalline cyclic loading data.  However, spherical nanoindentation experiments can be performed on a single grain and thus represent a single crystal response to the deformation.  This is advantageous for the calibration of low-symmetry crystal structures that have CRSS values that vary widely with slip system.

For reference, Patel and Kalidindi (2014) have successfully performed spherical nanoindentation FEM simulations that were used to extract the elastic stiffness tensor for FCC materials.

## Initial FEM Meshes

Many 2D nanoindentation FEM simulations have been employed in the literature, but there are very few fully-3D simulations for nanoindentation (besides Patel and Kalidindi, 2014).  In this work, fully-3D simulations are required to look at the elastic and inelastic response of HCP crystal structures (such as Ti-64) loaded in an arbitrary direction.  As a side note, special loading directions with crystal symmetry would allow for the use of 2D simulations.  As for mesh development, Dipen Patel and Dr. Kalidindi have been nice enough to allow us to use the meshing algorithm for spherical nanoindentation that was developed in his research.

Before employing that meshing strategy, simple spherical nanoindentation CPFEM simulations were performed.  The material region is a cubic volume with a constant mesh density in all direction and the spherical indenter is modeled as a regid half-sphere.  The cubic volume has a sidelength of 20$\mu m$ and the mesh density varies from 20 to 50 elements per side (1$\mu m$ to 0.4$\mu m$ element sidelength).  An example simulation schematic is shown below.

(insert spherical indentation image here)

A comparison of the force versus displacement response for a mesh with 20 elements per side and a mesh with 30 elements per side is shown in the figure below.  It is important to note the response has a slight oscillation.  This is most likely due to a lack of mesh refinement directly beneath the indenter.  As the material beneath the indenter deforms plastically, the stiffness of the overall response decreases.  But, when additional material is engaged by the indenter, it is elastically deforming, thus increasing the stiffness.   

{% include ContentManager.html content=page.plot1 %}

As the mesh is further refined, the oscillation becomes less apparent, as shown in the force versus displacement curve for the mesh with 50 elements per sidelength.

{% include ContentManager.html content=page.plot2 %}

In terms of computational time and resources, the mesh with 20 elements per side (total of 8,000 elements) took approximately 9 hours to complete with 4 processors.  In contrast, the mesh with 50 elements per side (total of 250,000 elements) took approximately 64 hours to complete with 24 processors.

The purpose of this study is to compare the indentation stress-strain responses from experiments with those from CPFEM simulations to better inform the model parameters. However, the indentation stress-strain curves for these simulation results are of no use, most likely because of the lack of mesh refinement directly beneath the indenter.

## FEM Mesh with Multiple Regions

The results in the previous section indicate a finer mesh density is needed below the indenter tip.  Therefore, the mesh construction method employed in Patel and Kalidindi (2014) is used in this section.  The meshes range from 2- to 4-regions, with each region having a higher mesh density.  The element length is cut in half for each successive region.  An example of the 4-region mesh is shown below.

(4 region mesh image)

In the 4-region mesh, the elements in the most outer region have a sidelength of $1.0\mu m$ and the elements in the most inner region has a sidelength of $0.125\mu m$.  Moving from outer to inner regions, the inner region has an element sidelength that is half of the element sidelength of the outer region.  The force-displacement curves for the various regions are shown below.  The constant mesh density curve (blue) is shown as a benchmark for the other meshes.  The oscillation is less in the 2-region mesh (red), while the 3-region (green) and 4-region (orange) mesh curves show little difference.

{% include ContentManager.html content=page.plot3 %}

However, the stress-strain data for these 2-, 3-, and 4-region meshes were erroneous and thus, not shown.

In terms of computational time and resources, the 2-region mesh (20,097 elements) took approximately 8 hours to complete with 8 processors, the 3-region mesh (23,681 elements) took approximately 14 hours with 8 processors, and the 4-region mesh (24,129 elements) took 16 hours with 8 processors.

## Moving forward

It is apparent from these results the mesh density still needs additional refinement directly beneath the indenter.  I plan to:
- Explore finer meshes while also trying to balance simulation run time.


### References
- M. Niewczas (2010). "Lattice correspondence during twinning in hexagonal close-packed crystal," Acta Mat 58, 5848-5857.
