---
layout: post
title: MKS Calibration and Validation for Realistic Microstructures 
author: Noah Paulson

latex: true

cal:
  type: img
  src: https://farm8.staticflickr.com/7495/16207974772_3102f58973_o.png
slice_100cal_25val_delta:
  type: img
  src: https://farm8.staticflickr.com/7561/16021279098_04dd7ddb5e_o.png
slice_100caldelta_25val_equiaxed:
  type: img
  src: https://farm8.staticflickr.com/7521/15586388674_35f2f78856_o.png
slice_200cal_Priddy_100val_Priddy:
  type: img
  src: https://farm8.staticflickr.com/7501/16206928701_3c203fce9d_o.png
---


While the entire hexagonal-triclinic fundamental zone covers  $ 0 \leq \phi_1 \leq 2\pi, 0 \leq \Phi < \frac{\pi}{2}, 0 \leq \phi_2 \leq \frac{\pi}{3} $, only orientations in the $ \phi_2 = 0 $ face were used as $ \phi_2 $ has no influence on the GSH coefficients at the L = 4 truncation level.


{% include ContentManager.html content=page.cal %}

{% include ContentManager.html content=page.slice_100cal_25val_delta %}

{% include ContentManager.html content=page.slice_100caldelta_25val_equiaxed %}

{% include ContentManager.html content=page.slice_200cal_Priddy_100val_Priddy %}


## Current Issues
