---
layout: post
title: Zero-Padding Techniques in Spectral Interpolation
author: Noah Paulson

latex: true

dft_orig:
  type: img
  src: https://farm8.staticflickr.com/7522/16310684482_e559b3d5ff_o.png
dft_interspersed:
  type: img
  src: https://farm8.staticflickr.com/7515/15691671363_15df7348dd_o.png
plot_interspersed:
  type: img
  src: https://farm8.staticflickr.com/7531/16309760311_4614d60c30_o.png
dft_centered:
  type: img
  src: https://farm8.staticflickr.com/7522/16124167580_6f5a301328_o.png
plot_centered:
  type: img
  src: https://farm8.staticflickr.com/7537/16124167590_7ed9634605_o.png  
---

## Introduction

The original equation is included below.

$$
\begin{equation}
f(x) = sin(x) + 0.5cos(2x) + 0.25cos(3x)
\end{equation}
$$

The following formulation of the DFT equation was then used on the 16 sampled values:

$$
\begin{equation}
F_k = \sum_{n=0}^{N-1} f_{n}e^{-2\pi ikn/N}
\end{equation}
$$

The following image shows the original DFT spectra (real and imaginary):

{% include ContentManager.html content=page.dft_orig %}

### Case 1: Zeros Interspersed

In case 1 the zeros are interspersed in between the original frequencies. The following image shows the resulting spectra:

{% include ContentManager.html content=page.dft_interspersed %}

After zero padding the inverse DFT is taken using the following formula:

$$
\begin{equation}
f_n = \frac{1}{N} \sum_{k=0}^{N-1} F_{k}e^{\frac{2\pi ikn}{N}}
\end{equation}
$$

Finally, the result of the inverse DFT is scaled by a factor of two to account for the zero padding. The following image shows the original function and sampling as well as the interpolated values.

{% include ContentManager.html content=page.plot_interspersed %}

### Case 2: Zeros Centered

In the second case all 8 zeros are placed in the center of the spectrum. The following plots show the spectra with the zeros added in the center.

{% include ContentManager.html content=page.dft_centered %}

As before the inverse DFT is taken and the result is scaled. The following image shows the original function and sampling as well as the interpolated values.

{% include ContentManager.html content=page.plot_centered %}



## References

* R.G. Lyons _Understanding Digital Signal Processing_ 3rd edl. 2010 Prentice Hall

* B.L. Adams, S.R. Kalidindi, D.L. Fullwood _Microstructure Sensitive Design for Performance Optimization_ 2012 Butterworth-Heinemann

