---
layout: post
title: Zero-Padding Techniques in Spectral Interpolation
author: Noah Paulson

latex: true

dft_orig:
  type: img
  src: https://farm8.staticflickr.com/7522/16310684482_e559b3d5ff_o.png
dft_interspersed:
  type: img
  src: https://farm8.staticflickr.com/7515/15691671363_15df7348dd_o.png
plot_interspersed:
  type: img
  src: https://farm8.staticflickr.com/7531/16309760311_4614d60c30_o.png
dft_centered:
  type: img
  src: https://farm8.staticflickr.com/7522/16124167580_6f5a301328_o.png
plot_centered:
  type: img
  src: https://farm8.staticflickr.com/7537/16124167590_7ed9634605_o.png  
---

## Introduction

We start with the original function, $$ f(x) $$:

$$
\begin{equation}
f(x) = sin(x) + 0.5cos(2x) + 0.25cos(3x)
\end{equation}
$$

Then we take 16 ($$ N $$) evenly spaced samples labeled $$ f_n $$. The following formulation of the DFT equation was then used to get the frequencies $$ F_k $$:

$$
\begin{equation}
F_k = \sum_{n=0}^{N-1} f_{n}e^{-2\pi ikn/N}
\end{equation}
$$

The following image shows the original DFT spectra (real and imaginary):

{% include ContentManager.html content=page.dft_orig %}

### Case 1: Zeros Interspersed

In **Case 1** the zeros are interspersed in-between the original frequencies. The total number of frequencies are doubled to 32 ($$ N' $$) in the new spectra, $$ F_{k'} $$. The following image shows the resulting spectra:

{% include ContentManager.html content=page.dft_interspersed %}

After zero padding the inverse DFT is taken using the following formula:

$$
\begin{equation}
f_{n'} = \frac{1}{N'} \sum_{k'=0}^{N'-1} F_{k'}e^{2\pi ik'n'/N'}
\end{equation}
$$

Finally, $$ f_{n'} $$ is scaled by a factor of two to account for the zero padding. Note that $$ f_{n' = 32} $$ is discarded as it is an extrapolation, not an interpolation between the sampled values. The following image shows the original function and sampling as well as the interpolated values.

{% include ContentManager.html content=page.plot_interspersed %}

Notice that the result in this case is simply 2 of the original $$ f_n $$ samples end to end. By manually computing the DFT it can be seen that this method is not an interpolation, it simply reproduces multiple sets of the original spectra.

### Case 2: Zeros Centered

In **Case 2** all 8 zeros are placed in the center of the spectrum. The following plots show the spectra with the zeros added in the center.

{% include ContentManager.html content=page.dft_centered %}

As before the inverse DFT is taken and the result is scaled. The following image shows the original function and sampling as well as the interpolated values.

{% include ContentManager.html content=page.plot_centered %}

From this result it is clear that the original values are reproduced and interpolated between by $$ f_{n'} $$ when zeros are inserted into the center of $$ F_k $$.

## References

* R.G. Lyons _Understanding Digital Signal Processing_ 3rd edl. 2010 Prentice Hall

* B.L. Adams, S.R. Kalidindi, D.L. Fullwood _Microstructure Sensitive Design for Performance Optimization_ 2012 Butterworth-Heinemann

