---
layout: post
title: 1D and 2D Examples of Spectral Interpolation
author: Noah Paulson

latex: true

1D_interpolation_example:
  type: img
  src: https://farm8.staticflickr.com/7558/16100695699_4ebf1002b8_o.png
1D_original_fft:
  type: img
  src: https://farm9.staticflickr.com/8592/16286828035_101e963939_o.png
1D_padded_fft:
  type: img
  src: https://farm8.staticflickr.com/7505/16285998312_4688499451_o.png
2D_interpolation_example:
  type: img
  src: https://farm8.staticflickr.com/7476/15664407334_d17ca0b7cd_o.png

---

## Introduction

The Discrete Fourier Transform (DFT) is critical to countless applications in technology and science. One such application is in the discrete representation of sophisticated functions in multiple dimensions.


Instead of interpolating between sampled values of the function in real space, this approximation can be done in DFT space using a technique called **spectral interpolation**. This post describes the technique and gives examples of its use in 1D and 2D.

## 1D Interpolation

First we write the original function:

$$
\begin{equation}
f(x) = -0.75sin(x) + 0.25cos(3x)
\end{equation}
$$

The $$ f(x) $$ is periodic over the domain $$ 0 \leq x \leq 2\pi $$ for convenience. If this function were non-periodic the DFT method would be less effective, as the DFT assumes periodicity. In this case the function should be mirrored over the y-axis so that it would become periodic over the domain $$ -2\pi \leq x \leq 2\pi $$. In the following image the blue line is $$ f(x) $$ while the green cirles represent the sampled values of the function.

{% include ContentManager.html content=page.1D_interpolation_example %}

{% include ContentManager.html content=page.1D_original_fft %}

{% include ContentManager.html content=page.1D_padded_fft %}

## 2D Interpolation

The original function is as follows:

$$
\begin{equation}
f(x_1,x_2) = -0.85sin(x_1) + 0.15cos(2x_1) + 0.5sin(x_2)
\end{equation}
$$

{% include ContentManager.html content=page.2D_interpolation_example %}

## Refrence

For another easy introduction to spectral interpolation see the following [link](http://www.dspguru.com/dsp/howtos/how-to-interpolate-in-time-domain-by-zero-padding-in-frequency-domain).
