---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }} <a href="{{site.gh | prepend:"https://github.com/" | append:"/tree/gh-pages/"}}{{page.path}}" >
      <span class="mega-octicon octicon-mark-github" style="cursor:pointer;" title="Markdown Source Code on Github"></span></a></h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
    </p>
  </header>

  <article class="post-content">



{% if page.latex %}
{% include latex.html %}
{% endif %}
  {{ content | markdownify}}
  </article>

  {% include disqus.html %}

</div>
